<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SecureDove</title>
    <link rel="stylesheet" href="/static/home.css"/>
</head>
<body>
     <!-- Sidebar -->
     <div class="sidebar">
        <img src="/static/images/logo.png" alt="SecureDove Logo" class="logo">
        <h1 class="title">SecureDove</h1>
        <div class="buttons">
            <button>Account</button>
            <button>Message</button>
        </div>
    </div>
    <!-- Main Content Area -->
    <div class="main-content"></div>
    
</body>
</html>